<div class="col-12 m-t-10 m-b-20">
    <div class="row">
        <div class="col-md-8">
            <h2 class="m-t-0">Adición de un nuevo alumno</h2>
        </div>
        <div class="col-md-4">
            <button class="btn btn-warning waves-effect waves-light pull-right" (click)="goListStudent()" type="button">
                <span class="btn-label"><i class="fa fa-arrow-left"></i></span>Regresar al listado
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Nuevo alumno</h4>
            </div>
            <div class="card-body">
                <form action="#" class="form-horizontal">
                    <div class="form-body">
                        <h3 class="box-title">Información del alumno</h3>
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>City</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>State</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Post Code</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Country</label>
                                    <select class="form-control custom-select">
                                        <option>--Select your Country--</option>
                                        <option>India</option>
                                        <option>Sri Lanka</option>
                                        <option>USA</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                    </div>
                    <hr>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-offset-12 col-md-12">
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-warning">Cancelar</button>
                                            <button type="submit" class="btn btn-inverse">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Imagen del alumno</h4>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <input type="file" class="form-control" aria-describedby="fileHelp">
                </div>
                <div>
                    <div class="el-card-avatar el-overlay-1">
                        <img src="assets/images/users/student/boy-3.png" class="card-image">
                    </div>
                    <hr>
                    <div class="el-card-content">
                        <button type="button" class="btn waves-effect waves-light btn-block btn-inverse">Subir imagen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>