<!-- ============================================================== -->
<!-- Left Page -->
<!-- ============================================================== -->

<div class="card">
    <div class="card-body bg-inverse" style="background: url(assets/images/background/user-info.jpg) / cover;">
        <h4 class="text-white card-title">Mis cursos</h4>
    </div>
    <div class="card-body inbox-panel">
        <ul class="list-group list-group-full">
            <li class="list-group-item"><a href="javascript:void(0)">Inbox</a></li>
            <li class="list-group-item"><a href="javascript:void(0)">Starred</a></li>
            <li class="list-group-item"><a href="javascript:void(0)"> Draft</a></li>
            <li class="list-group-item"><a href="javascript:void(0)">Sent Mail</a></li>
            <li class="list-group-item"><a href="javascript:void(0)">Trash</a></li>
        </ul>
        <br>
        <a href="javascript:void(0)" class="btn btn-danger m-b-20 p-10 btn-block waves-effect waves-light">Ver todos</a>
    </div>
</div>


<div class="card">
    <div class="card-body bg-inverse" style="background: url(assets/images/background/user-info.jpg) / cover;">
        <h4 class="text-white card-title">Mis docentes</h4>
    </div>
    <div class="card-body">
        <div class="message-box contact-box">

            <div class="message-widget contact-widget">
                <!-- Message -->
                <a href="javascript:void(0)">
                    <div class="user-img"> <img src="assets/images/users/teacher/man-13.png" alt="user" class="img-circle">
                        <span class="profile-status online pull-right"></span> </div>
                    <div class="mail-contnet">
                        <h5>Pavan kumar</h5>
                    </div>
                </a>
                <!-- Message -->
                <a href="javascript:void(0)">
                    <div class="user-img"> <img src="assets/images/users/teacher/woman-8.png" alt="user" class="img-circle">
                        <span class="profile-status busy pull-right"></span> </div>
                    <div class="mail-contnet">
                        <h5>Sonu Nigam</h5>
                    </div>
                </a>
                <!-- Message -->
                <a href="javascript:void(0)">
                    <div class="user-img"> <span class="round">A</span>
                        <span class="profile-status away pull-right"></span> </div>
                    <div class="mail-contnet">
                        <h5>Arijit Sinh</h5>
                    </div>
                </a>
                <!-- Message -->
                <a href="javascript:void(0)">
                    <div class="user-img"> <img src="assets/images/users/teacher/man-12.png" alt="user" class="img-circle">
                        <span class="profile-status offline pull-right"></span>
                    </div>
                    <div class="mail-contnet">
                        <h5>Pavan kumar</h5>
                    </div>
                </a>
            </div>
        </div>
        <br>
        <a href="javascript:void(0)" class="btn btn-danger m-b-20 p-10 btn-block waves-effect waves-light">Ver todos</a>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Left Page Content -->
<!-- ============================================================== -->