<div class="col-12 m-t-10 m-b-20">
    <div class="row">
        <div class="col-md-8">
            <h2 class="m-t-0">Listado y adición de cursos</h2>
        </div>
        <div class="col-md-4">
            <button *ngIf="!showForm" class="btn btn-primary waves-effect waves-light pull-right" type="button" (click)="openForm()">
                <span class="btn-label"><i class="fa fa-plus"></i></span>Nuevo curso
            </button>
            <button *ngIf="showForm" class="btn btn-inverse waves-effect waves-light pull-right" type="button" (click)="showForm=!showForm">
                <span class="btn-label"><i class="fa fa-close"></i></span>Terminar
            </button>
        </div>
    </div>
</div>

<div class="alert alert-info" *ngIf="!existsGrades">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <h3 class="text-info"><i class="fa fa-exclamation-circle"></i> Agregar grados y años</h3>
    Es necesario tener estos datos para continuar sin interrupciones. Para agregar grados y años haga clic
    <a href="javascript:void(0)">aquí</a>
</div>


<div class="row animated fadeIn" *ngIf="existsGrades && showForm">
    <div class="col-md-9">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">{{titleForm}}</h4>
            </div>
            <div class="card-body">
                <form #form="ngForm" (ngSubmit)="saveCourse(form)" class="form-horizontal">
                    <div class="form-body">
                        <h3 class="box-title">Información de una sección</h3>
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Grado</label>
                                    <select [(ngModel)]="course.grade" name="grade" (change)="changeGrade($event.target.value, false)" [disabled]="isEdit" class="form-control custom-select" required>
                                        <option value="">Seleccione un Grado</option>
                                        <option *ngFor="let item of grades" [value]="item.name">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Año escolar</label>
                                    <select [(ngModel)]="course.grade_year" name="grade_year" (change)="changeGradeYearsForm($event.target.value)" [disabled]="isEdit || course.grade==''" class="form-control custom-select" required>
                                        <option value="">Seleccione un año</option>
                                        <option *ngFor="let item of gradeyearsForm" [value]="item.name">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Categoría</label>
                                    <select [(ngModel)]="course.category" name="category" [disabled]="isEdit" class="form-control custom-select" required>
                                        <option value="">Seleccione un categoría</option>
                                        <option *ngFor="let item of categories" [value]="item">{{item}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nombre del curso</label>
                                    <input [(ngModel)]="course.name" name="name" type="text" class="form-control" style="text-transform:uppercase" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Código del curso</label>
                                    <input [(ngModel)]="course.code" name="code" disabled type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="pull-right m-t-30 m-l-10">
                                    <button *ngIf="!isSaved" type="submit" name="button" class="btn btn-inverse" [disabled]="loading || form.invalid">
                                        <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-refresh fa-spin':loading }"></i>
                                        <span *ngIf="!loading">&nbsp;{{textSave}}</span>
                                        <span *ngIf="loading">&nbsp;Espere por favor</span>
                                    </button>
                                    <button *ngIf="isSaved" class="btn btn-inverse waves-effect waves-light" (click)="keepSave()" type="button">
                                        <span class="btn-label"><i class="fa fa-plus"></i></span>
                                        <span>Nuevo curso</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-outline-info">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">Cursos existentes</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-body inbox-panel" *ngIf="coursesList">
                            <ul class="list-group list-group-full">
                                <li *ngFor="let item of coursesList" class="list-group-item">{{item.name}}</li>
                            </ul>
                        </div>
                        <div class="card-body inbox-panel" *ngIf="!coursesList || coursesList.length<1">
                            <h5>Seleccione un año escolar para ver los cursos existentes</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card card-inverse" *ngIf="existsGrades">
    <div class="card-header bg-info">
        <h4 class="m-b-0 text-white">Cursos</h4>
    </div>
    <div class="card-body">
        <form class="form-horizontal">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Grado</label>
                            <select [(ngModel)]="gradeSelectedSearch" name="grade1" (change)="changeGrade($event.target.value, true)" name="type" class="form-control custom-select" required>
                                <option value="">Seleccione un grado</option>
                                <option *ngFor="let item of grades" [value]="item.name">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Año escolar</label>
                            <select name="gradeyear1" class="form-control custom-select" (change)="changesFilters($event.target.value, null)" [disabled]="gradeSelectedSearch==''" required>
                                <option value="">Seleccione un año escolar</option>
                                <option *ngFor="let item of gradeyearsList" [value]="item.name">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Categoría</label>
                            <select name="category1" class="form-control custom-select" (change)="changesFilters(null, $event.target.value)" required>
                                <option value="">TODOS</option>
                                <option *ngFor="let item of categories" [value]="item">{{item}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table product-overview">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Categoría</th>
                        <th>Grado</th>
                        <th class="text-right p-r-40">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of courses; let i = index">
                        <td><span class="footable-toggle"></span>{{(page-1)*items_page + (i+1)}}</td>
                        <td>{{item.code}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.category}}</td>
                        <td>{{item.grade_year}}</td>
                        <td class="text-right p-r-40">
                            <button class="btn btn-outline-warning" type="button" (click)="openForm(item)"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-outline-danger" type="button" (click)="deleteCourse(item)"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pull-right p-r-30" *ngIf="courses">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button (click)="navigation(false, -1)" type="button" [disabled]="page<=1" class="btn waves-effect waves-light btn-inverse">Anterior</button>
                    <button *ngFor="let i of total_pages|count" type="button" [disabled]="page == i" class="btn btn-secondary" (click)="navigation(true, i) ">{{i}}</button>
                    <button (click)="navigation(false, 1)" type="button" [disabled]="total_pages<=page" class="btn waves-effect waves-light btn-inverse">Siguiente</button>
                </div>
            </div>
        </div>
    </div>
</div>